<div *ngIf="user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img [src]="user.photoURL">
</div>

<nz-row [nzGutter]="16" *ngIf="counts">
    <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(counts | async).value" [nzTitle]="'Counts'" [nzPrefix]="prefixTpl">
        </nz-statistic>
        <ng-template #prefixTpl><i nz-icon nzType="like"></i></ng-template>
    </nz-col>
</nz-row>
<nz-row>
    <nz-col [nzSpan]="24">
        <button nz-button nzType="primary" (click)="incrementCount()">Increase Count</button>
        <button nz-button nzType="primary" (click)="decrementCount()">Decrease Count</button>
    </nz-col>
    <div class="logout-container">
        <button nz-button nzType="warn" class="logout" (click)="logout()">Logout</button>
    </div>

</nz-row>