[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}
nz-content {
    padding: 50px;
}
nz-header {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}